In [7]:
# Dependencies
from config import gkey
import gmaps
import numpy as np
import pandas as pd
import requests

In [16]:
#pandas read csv
my_cities_df = pd.read_csv('top100_median_with_wf.csv')
my_cities_df.head()

,City,State,lon,lat,CityState,Median Sale,Median Rent,# of Whole Foods (15km radius)
0,New York,NY,-73.99,40.73,"New York, NY",391300,3000,20
1,Los Angeles,CA,-118.24,34.05,"Los Angeles, CA",629800,3200,9
2,Chicago,IL,-87.62,41.88,"Chicago, IL",246500,1750,16
3,Dallas,TX,-96.80,32.78,"Dallas, TX",257600,1750,12
4,Philadelphia,PA,-75.16,39.95,"Philadelphia, PA",218600,1600,5

In [17]:
#get locations
locations = my_cities_df[["lat","lon"]]

#weights
my_weights = my_cities_df['Median Sale'].astype(float)
my_weights = my_weights/1000000   #google maps output is weird for large weights

In [18]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [19]:
## Run any of the cell blocks below to create heatmaps

In [20]:
# Create a Median Sales heatmap 
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = my_weights, 
                                 dissipating=False, max_intensity=0.6,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Median Rent heatmap 
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = my_cities_df['Median Rent'].astype(float)/3000, 
                                 dissipating=False, max_intensity=3.0,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Create a # of Whole Foods heatmap 
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = my_cities_df['# of Whole Foods (15km radius)'].astype(float)/20, 
                                 dissipating=False, max_intensity=1,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))